<!DOCTYPE html>
<html lang="en">
  <head>

    <title>QueriesAndSols</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/bootstrap-social.css">
    <link rel="stylesheet" href="/css/jt.css">
    <link href="https://fonts.googleapis.com/css?family=Bubbler+One" rel="stylesheet">
</head>

  <body>
 <div id="holder">
     <div id="body">
    <% include ./partials/navbar %>


<%- body -%>


<% include ./partials/footer %>
     </div>
      </div>


  <script src="/js/jquery.min.js"></script>
  <script src="/js/addquestion.js"></script>

  <script src="/js/bootstrap.min.js"></script>

</html>
